[Unit]
Description=dnscrypt-proxy listening socket

[Install]
WantedBy=sockets.target

[Socket]
ListenStream=127.0.0.1:5302
ListenDatagram=127.0.0.1:5302
