# Configuration for nocturnal artifice
# name to use when sending messages; compose view
set realname = "Lit Wakefield"
# default from header
set from = "myemailaddress@email.com"

# inbox
set spoolfile = "+nocturnalartifice/Inbox"
# prevent duplicates
unset record #= "+account/Sent\ Items"
set postponed = "+nocturnalartifice/[Gmail]/.Drafts"
# needs trash patch
# set trash = "+nocturnalartifice/[Gmail]/.Trash"
# archive
set mbox = "nocturnalartifice/[Gmail]/.All Mail"

# Alternate email addresses.
# tells mutt what messages are from you and addressed to youth
alternates myalternate email addresses

# for showing in sidebar
# specifies folders that can recieve mail and will be checked for new messages
mailboxes "+nocturnalartifice/Inbox" "+nocturnalartifice/[Gmail]/.Starred" "+nocturnalartifice/[Gmail]/.Sent Mail" "+nocturnalartifice/[Gmail]/.All Mail" "+nocturnalartifice/[Gmail]/.Trash"

# actually move to trash
macro index,pager td "<save-message>=nocturnalartifice/[Gmail]/.Trash<enter>" "Trash Message"

# Sync email # add reindex with notmuch
macro index o "<shell-escape>mbsync -a nocturnal<enter>" "download mail"
macro index O "<shell-escape>mbsync -c ~/.school_mbsyncrc -a school<enter>" "download mail"

# Folder Navigation# {{{
macro index gi "<change-folder>=nocturnalartifice/Inbox<enter>" "Go to inbox"
macro index ga "<change-folder>=nocturnalartifice/[Gmail]/.All Mail<enter>" "Go to all mail"
macro index gs "<change-folder>=nocturnalartifice/[Gmail]/.Sent Mail<enter>" "Go to sent Mail"
macro index gm "<change-folder>=nocturnalartifice/[Gmail]/.Starred<enter>" "Go to starred Mail"
macro index gt "<change-folder>=nocturnalartifice/[Gmail]/.Trash<enter>" "Go to trash"
macro index gd "<change-folder>=nocturnalartifice/[Gmail]/.Drafts<enter>" "Go to drafts"
# this will trigger hook and load other account's config
macro index gn "<change-folder>=school/Inbox<enter>" "Go to other inbox"
# }}}

# vim: set ft=muttrc:
