/*  Copyright 2014 gokoururi
    This work is free. You can redistribute it and/or modify it under the
    terms of the Do What The Fuck You Want To Public License, Version 2,
    as published by Sam Hocevar. See the COPYING file for more details. */

body {
    background-color: #EFEFEF;
}

.highlite {
    color: #FF9966;
}

main {
    background-color: #F2F2F2;
    border-color: #FFF;
}

h1 {
    color: #AAA;
    text-shadow: 0 1px #FFF;
}

.subtitle {
    color: #AAA;
}

.searchBar::-webkit-input-placeholder {
    color: rgba(0,0,0,0);
}
.searchBar {
    color: rgba(0,0,0,0);
    border-color: lightgrey;
}
.searchBar:hover {
    box-shadow: 0 0 5px lightgrey;
    border-color: lightgrey;
}
.searchBar:focus::-webkit-input-placeholder{
    color: rgba(100,100,100,1);
}
.searchBar:focus {
    color: rgba(100,100,100,1);
}
.google {
    background-image: url('../images/google-light.png');
}

.youtube {
    background-image: url('../images/youtube-light.png');
}

.wikipedia {
    background-image: url('../images/wikipedia-light.jpg');
    background-size: 21px 21px;
}

/* Grey button */
.buttonGrey > a,
.buttonGrey > ul {
    border-color: #FFF;
}
.buttonGrey > a,
.buttonGrey > ul > li > a {
    color: #FFF;
    background: #CCC;
}
.buttonGrey > a:after {
    border-left-color: #FFF;
}
.buttonGrey:hover > a,
.buttonGrey > ul > li > a:hover {
    color: #FFDBB8;
    background: #FF9966;
}
.buttonGrey:hover > a,
.buttonGrey:hover > ul {
    border-color: #FF9966;
}
.buttonGrey:hover > a:after {
    border-left-color: #FFDBB8;
}

/* Green button */
.buttonGreen > a,
.buttonGreen > ul {
    border-color: #daffd5;
}
.buttonGreen > a,
.buttonGreen > ul > li > a {
    color: #daffd5;
    background: #9be391;
}
.buttonGreen > a:after {
    border-left-color: #91b476;
}
.buttonGreen:hover > a,
.buttonGreen > ul > li > a:hover {
    color: #eeffeb;
    background: #91ff82;
}
.buttonGreen:hover > a,
.buttonGreen:hover > ul {
    border-color: #91ff82;
}
.buttonGreen:hover > a:after {
    border-left-color: #269926;
}

/* column standard colors */
.column {
    border-right-color: #DDD;
}
.column > a,
.column > ul > li:before {
    color: #DDD;
}
.column > a {
    text-shadow: 0 0.5px #FFF;
}
.column > ul > li > a {
    color: #888;
}

/* Row purple highlite */
.columnPurple:hover > a,
.columnPurple:hover > ul > li:before {
    color: #b9b6d9
}
.columnPurple:hover > a {
    text-shadow: 0 0.5px #FFF;
}
.columnPurple > ul > li > a:hover {
    color: #b9b6d9;
}

/* Row pink highlite */
.columnPink:hover > a,
.columnPink:hover > ul > li:before {
    color: #d67b96
}
.columnPink:hover > a {
    text-shadow: 0 0.5px #FFF;
}
.columnPink > ul > li > a:hover {
    color: #d67b96;
}

/* Row green highlite */
.columnGreen:hover > a,
.columnGreen:hover > ul > li:before {
    color: #729a64;
}
.columnGreen:hover > a {
    text-shadow: 0 0.5px #FFF;
}
.columnGreen > ul > li > a:hover {
    color: #91b476;
}
