# https://github.com/nix-community/lorri/blob/803fadb70907dca3afd93176aa9bc771be80d471/contrib/lorri.service#L4
[Unit]
Description=Lorri Daemon
Requires=lorri.socket
After=lorri.socket

[Service]
ExecStart=%h/.nix-profile/bin/lorri daemon
PrivateTmp=true
ProtectSystem=strict
ProtectHome=read-only
Restart=on-failure
