!http://crunchbang.org/forums/viewtopic.php?id=23158
! xscreensaver ---------------------------------------------------------------

!font settings
xscreensaver.Dialog.headingFont:        -*-Inconsolata-bold-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-Inconsolata-medium-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-Inconsolata-medium-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-Inconsolata-medium-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-Inconsolata-bold-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-Inconsolata-medium-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-Inconsolata-bold-r-*-*-10-*-*-*-*-*-*-*

!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #000000
xscreensaver.Dialog.background:         #525252
xscreensaver.Dialog.topShadowColor:     #333333
xscreensaver.Dialog.bottomShadowColor:  #333333
xscreensaver.Dialog.Button.foreground:  #000000
xscreensaver.Dialog.Button.background:  #525252
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #000000
xscreensaver.Dialog.text.background:    #525252
xscreensaver.Dialog.internalBorderWidth:0
xscreensaver.Dialog.borderWidth:        0
xscreensaver.Dialog.shadowThickness:    1
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #272727
xscreensaver.passwd.thermometer.background:  #525252
xscreensaver.passwd.thermometer.width:       8
!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat:%A, %B %d

! wallpaper directory
xscreensaver.imageDirectory: /home/angelic_sedition/wallpaper/
