# I'm not sure if # works as a comment char (don't have in actual conf)
# the name of this file doesn't matter
# http://comments.gmane.org/gmane.comp.handhelds.moblin.connman/1146
[global]
Name =
Description = <whatever>
[service_peap]
Type = wifi
Name = <ssid>
EAP = peap
Passphrase = <password>
Identity = <username>
Phase2 = MSCHAPV2
