snippet head "main heading" b

#==============================
# $1 {{{
#==============================
$2
#}}}
endsnippet

snippet head2 "second heading" b

#=================
# $1 {{{
#=================
$2
#}}}
endsnippet

snippet head3 "3rd heading" b

#========== $1 {{{
$2
#}}}
endsnippet
