/* doesn't work yet */
/* https://github.com/tridactyl/tridactyl/issues/1449 */
/* @import url('colors.css'); */

/* * Colors */
:root {
    --red: var(--color1);
    --green: var(--color2);
    --yellow: var(--color3);

    --tridactyl-bg: var(--foreground);
    --tridactyl-fg: var(--background);

    /* these are the defaults already */
    /* --tridactyl-status-bg: var(--tridactyl-bg); */
    /* --tridactyl-status-fg: var(--tridactyl-fg); */
    /* --tridactyl-vs-bg: var(--tridactyl-bg); */
    /* --tridactyl-vs-fg: var(--tridactyl-fg); */
    /* --tridactyl-cmdl-bg: var(--tridactyl-bg) */
    /* --tridactyl-cmdl-fg: var(--tridactyl-fg) */

    /* mode indicator border */
    --tridactyl-status-border: 1px var(--tridactyl-fg) solid;

    /* TODO not actually sure this does anything */
    --tridactyl-search-highlight-color: var(--yellow);

    /* these three used for a linear gradient for the header in command line */
    --tridactyl-header-first-bg: var(--red);
    --tridactyl-header-second-bg: var(--red);
    --tridactyl-header-third-bg: var(--red);

    /* color of urls in commandline completions (and elsewhere?) */
    --tridactyl-url-fg: var(--green);

    /* color of selected completion line */
    --tridactyl-of-bg: var(--green);
}

/* * Font */
:root {
    --tridactyl-font-family: "Delugia";
    --tridactyl-cmdl-font-family: var(--tridactyl-font-family);
    --tridactyl-cmplt-font-family: var(--tridactyl-font-family);
    --tridactyl-hintspan-font-family: var(--tridactyl-font-family);
    --tridactyl-hintspan-font-size: 11px;
}

/* * Command Line */
/* TODO get rid transparent line on right before border */

/* .TridactylThemeCustom #tridactyl-colon::before { */
/*     content: ":"; */
/* } */

/* https://github.com/tridactyl/tridactyl/issues/2025 */
/* show command line as popup near top */
/* .TridactylThemeCustom #cmdline_iframe { */
/*     bottom: unset; */
/*     top: 10% !important; */
/*     left: 10% !important; */
/*     z-index: 2147483647 !important; */
/*     width: 80% !important; */
/*     box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px !important; */
/*     border: solid var(--tridactyl-fg) 2px !important; */
/* } */


/* /\* by default has top: 1px which leaves transparent line between top and command */
/*    line *\/ */
/* .TridactylOwnNamespace.TridactylThemeCustom body { */
/*     top: 0px !important; */
/* } */

/* /\* don't show line when command line hidden *\/ */
/* .TridactylThemeCustom #cmdline_iframe.hidden { */
/*     display: none !important; */
/* } */

/* /\* input bar/completions at top of popup insteda of at bottom *\/ */
/* .TridactylThemeCustom #completions { */
/*     order: 2 !important; */
/* } */
/* .TridactylThemeCustom #command-line-holder { */
/*     order: 1 !important; */
/* } */

/* * Quake Command Line */
.TridactylThemeCustom #cmdline_iframe {
    position: fixed !important;
    bottom: unset;
    top: 0% !important;
    left: 0% !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px !important;
    border: solid var(--tridactyl-fg) 2px !important;
    border-top: none !important;
}

/* input bar/completions at top of popup insteda of at bottom */
.TridactylThemeCustom #completions {
    order: 2 !important;
}
.TridactylThemeCustom #command-line-holder {
    order: 1 !important;
}

/* * Hints */
/* TODO try with linear gradient from light to dark (generate 16 colors wtih
 * pywal) */

/* vimium style hints; based on pentadactyl vimium theme css */
:root {
    /* default */
    --tridactyl-hintspan-font-weight: bold;
    --tridactyl-hintspan-fg: #302505;
    --tridactyl-hintspan-bg: var(--yellow);
    /* --tridactyl-hintspan-bg: linear-gradient(to bottom, #FFF785, #C38A22); */
    --tridactyl-hintspan-border-width: 1px;
    --tridactyl-hintspan-border-color: #C38A22;
    /* styling of the default hint element*/
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    /* styling of all other hint elements */
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}

/* override hint.css */
span.TridactylHint {
    text-transform: lowercase !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) !important;
    background: linear-gradient(to bottom, #FFF785, #C38A22) !important;
    box-shadow: 0 3px 7px 0px rgba(0,0,0,0.3) !important;
}
