[include]
	# For username, credentials, etc.
	# https://stackoverflow.com/questions/8505335/hiding-github-token-in-gitconfig
	path = ~/.gitconfig.local
[core]
	autocrlf = input
	# will detect with git diff
	# will warn or fix --whitespace=(warn|fix) with apply and rebase
	whitespace = trailing-space,space-before-tab
[alias]
	co = checkout
	br = branch
	last = log -1 HEAD
	# http://fredkschott.com/post/2014/02/git-log-is-so-2005/
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[color]
	ui = true
