[include]
	# For username, credentials, etc.
	# https://stackoverflow.com/questions/8505335/hiding-github-token-in-gitconfig
	path = ~/.gitconfig.local
[core]
	autocrlf = input
	# will detect with git diff
	# will warn or fix --whitespace=(warn|fix) with apply and rebase
	whitespace = trailing-space,space-before-tab
[color]
	ui = true
[push]
	default = simple
