# https://wiki.archlinux.org/index.php/DNSCrypt#Create_systemd_file
[Unit]
Description=DNSCrypt client proxy
Documentation=man:dnscrypt-proxy(8)
Requires=dnscrypt-proxy@%i.socket
After=network.target
Before=nss-lookup.target

[Install]
Also=dnscrypt-proxy@%i.socket
WantedBy=multi-user.target

[Service]
User=dnscrypt
Type=notify
NonBlocking=true
ExecStart=/usr/bin/dnscrypt-proxy \
    --resolver-name=%i
Restart=always
