# https://github.com/cdown/tzupdate/issues/14
[Unit]
Description=Time zone update
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/bin/sh -c 'sleep 20 && tzupdate'
Restart=always
RestartSec=300

[Install]
WantedBy=multi-user.target
